ngb-carousel:focus {
    outline-color: transparent;
}

ngb-carousel img {
    width: 60%;
}

::ng-deep {
    .carousel-item {
      transition: opacity 2.5s ease!important;
      display: block!important;
      opacity: 0;
   }
}